@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Inter", sans-serif;
}

/* boilerplate */

@layer base {
  html {
    @apply box-border;
  }

  body {
    @apply m-0 p-0 dark:bg-dark_bg dark:text-dark_text2 text-white_text2 bg-white_bg;
  }
}

/* typography */

@layer base {
  h1,
  h2,
  h3 {
    @apply mt-0 leading-4;
  }

  h1 {
    @apply text-2xl mb-0.5 md:text-3xl font-bold;
  }
  h2 {
    @apply text-2xl mb-6 font-bold;
  }

  a,
  a:visited,
  a:active {
    @apply no-underline;
  }

  label {
    @apply text-sm font-bold text-toggle;
  }

  input {
    @apply opacity-0;
  }
}

/* components */
@layer utilities {
  .container {
    @apply max-w-5xl px-6 md:p-0 mx-auto mb-12 w-full;
  }

  .header {
    @apply flex flex-wrap justify-between items-center mt-9;
  }

  .cards {
    @apply grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-8;
  }

  .header__title {
    @apply w-full sm:w-auto;
  }

  /* card */
  .card {
    @apply dark:bg-dark_card bg-white_card dark:text-dark_text1 text-white_text1 w-full text-center p-6 flex-1 hover:dark:bg-dark_card_hover hover:bg-white_card_hover transition duration-150 ease-in-out cursor-pointer overflow-hidden rounded-b-md;
  }

  .card__facebook {
    @apply pt-1 bg-facebook rounded-lg;
  }

  .card__twitter {
    @apply pt-1 bg-twitter rounded-lg;
  }

  .card__instagram {
    @apply pt-1 rounded-lg bg-gradient-to-br from-instagram_start to-instagram_end;
  }

  .card__youtube {
    @apply pt-1 bg-youtube rounded-lg;
  }

  .card__icon {
    @apply mr-2;
  }

  .card__username {
    @apply text-xs font-bold;
  }

  .card__platform {
    @apply flex justify-center items-center mb-7 h-5;
  }

  .card__count {
    @apply dark:text-white_bg text-dark_bg font-bold tracking-[-2px] leading-none mb-1;
  }
  .card__count--big {
    @apply text-6xl;
  }
  .card__count--small {
    @apply text-3xl;
  }

  .card__label {
    @apply text-white_text1 dark:text-dark_text1 text-xs font-normal uppercase tracking-[5px];
  }

  .card__followers {
    @apply mb-6;
  }

  .card__number {
    @apply ml-1;
  }

  .card__subtitle {
    @apply font-bold text-sm;
  }

  .card__change {
    @apply text-xs font-bold flex items-center justify-center;
  }
  .card__change--up {
    @apply text-limegreen;
  }

  .card__change--down {
    @apply text-brightred;
  }

  /* below card */

  .card-grid {
    @apply grid grid-cols-2 row-auto justify-items-start gap-5 rounded-t-md;
  }

  .visually-hidden {
    @apply absolute top-auto w-1 h-1 overflow-hidden;
  }

  /* toggle */
  .toggle {
    @apply border-none m-0 grid grid-cols-2 max-sm:justify-items-end w-full sm:w-auto;
  }

  .toggle__wrapper {
    @apply h-6 w-12 relative;
  }

  .toggle__input {
    @apply opacity-0 my-0 -ml-0.5 -mr-0.5 w-5 h-6;
  }

  .toggle__background {
    @apply dark:bg-gradient-to-tr dark:from-toggle_bg_start dark:to-toggle_bg_end bg-toggle h-full block rounded-xl overflow-hidden absolute w-full top-0 pointer-events-none;
  }

  .toggle__button {
    @apply rounded-full w-5 h-5 dark:bg-dark_bg bg-white_bg absolute left-0.5 right-full top-0.5 transition-all duration-200 ease-in-out;
  }

  .toggle__input:focus ~ .toggle__button {
    @apply border dark:border-white_bg border-dark_bg;
  }

  .light_input:checked ~ .toggle__button {
    @apply right-0.5 left-[26px];
  }

  .toggle > label[for="dark"] {
    @apply mr-3 max-sm:justify-self-end;
  }
}
