@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Inter", sans-serif;
}

/* boilerplate */

@layer base {
  html {
    @apply box-border;
  }

  body {
    @apply m-0 p-0 bg-dark_bg text-dark_text2;
  }
}

/* typography */

@layer base {
  h1,
  h2,
  h3 {
    @apply mt-0 leading-4;
  }

  h1 {
    @apply text-2xl mb-0.5 md:text-3xl font-bold;
  }
  h2 {
    @apply text-2xl mb-6 font-bold;
  }

  a,
  a:visited,
  a:active {
    @apply no-underline;
  }

  label {
    @apply text-sm font-bold text-toggle;
  }

  input{
    @apply opacity-0
  }
}

/* components */
@layer utilities {
  .container {
    @apply max-w-5xl px-6 md:p-0 mx-auto mb-12 w-full;
  }

  .header {
    @apply flex flex-wrap justify-between items-center mt-9;
  }

  .cards {
    @apply grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-8;
  }

  .header__title {
    @apply w-full md:w-auto;
  }

  /* card */
  .card {
    @apply bg-dark_card text-dark_text1 w-full text-center p-6 rounded-md flex-1 hover:bg-dark_card_hover transition duration-150 ease-in-out cursor-pointer;
  }

  .card--facebook {
    @apply border-t-4 border-facebook;
  }

  .card--twitter {
    @apply border-t-4 border-twitter;
  }

  .card--instagram {
    @apply border-t-4 bg-gradient-to-t from-instagram_start to-instagram_end;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, red, blue);
  }

  .card--youtube {
    @apply border-t-4 border-youtube;
  }

  .card__icon {
    @apply mr-2;
  }

  .card__username {
    @apply text-xs font-bold;
  }

  .card__platform {
    @apply flex justify-center items-center mb-7 h-5;
  }

  .card__count {
    @apply text-white_bg font-bold tracking-[-2px] leading-none mb-1;
  }
  .card__count--big {
    @apply text-6xl;
  }
  .card__count--small {
    @apply text-3xl;
  }

  .card__label {
    @apply text-white_text1 text-xs font-normal uppercase tracking-[5px];
  }

  .card__followers {
    @apply mb-6;
  }

  .card__number {
    @apply ml-1;
  }

  .card__subtitle {
    @apply font-bold text-sm;
  }

  .card__change {
    @apply text-xs font-bold flex items-center justify-center;
  }
  .card__change--up {
    @apply text-limegreen;
  }

  .card__change--down {
    @apply text-brightred;
  }

  .card__icon--facebook {
  }

  .card__icon--twitter {
  }

  .card__icon--instagram {
  }

  .card__icon--youtube {
  }

  /* below card */

  .card-grid {
    @apply grid grid-cols-2 row-auto justify-items-start gap-5;
  }

  .visually-hidden {
    @apply absolute top-auto w-1 h-1 overflow-hidden;
  }

  /* toggle */
  .toggle {
    @apply border-none m-0 grid grid-cols-2;
  }

  .toggle__wrapper {
    @apply h-6 w-12 relative;
  }

  .toggle__input {
    @apply opacity-0 my-0 -ml-0.5 -mr-0.5 w-5 h-6;
  }

  .toggle__background {
    @apply bg-gradient-to-tr from-toggle_bg_start to-toggle_bg_end h-full block rounded-xl overflow-hidden absolute w-full top-0 pointer-events-none;
  }

  .toggle__button {
    @apply rounded-full w-5 h-5 bg-dark_bg absolute left-0.5 right-full top-0.5 transition-all duration-200 ease-in-out;
  }

  .toggle__input:focus ~ .toggle__button {
    @apply border border-white_bg;
  }

  .light_input:checked~.toggle__button {
    @apply right-0.5 left-[26px];
  }

  /* .system_input:checked ~ .toggle__button {
    @apply right-auto left-3 transform translate-x-1/2;
  } */

  .toggle > label[for="dark"] {
    @apply  mr-3;
  }

  /* .toggle > label[for="system"] {
    @apply col-start-1 col-end-4 row-start-2 row-end-3 justify-self-center self-start;
  }

  .toggle > label[for="light"] {
    @apply col-start-3 col-end-4 self-center;
  } */
}
